# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# Log files
*.log

# Compiled code
*.so
*.pyd

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Backup files
*~
*.bak
*.swp
